# This is the example template for the .env file. 
# You should create a .env file in the root of your 
# project and fill in the appropriate values for your environment. 
# The .env file is used to store sensitive information such as 
# API keys and database credentials, and it should not be committed to version control. 
# Make sure to replace the placeholder values with your actual configuration.

OPENAI_API_KEY=your_key_here
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=your_access_key_here
MINIO_SECRET_KEY=your_secret_key_here
MINIO_BUCKET=your_bucket_name_here